<script>
    // Define toggleFormVisibility globally
    function toggleFormVisibility() {
        var selectedValue = $("input[name='product_weight']:checked").val();
        var button = $("input[type='submit']");
        
        // Disable "Add to Bag" button until quantity is chosen
        button.prop('disabled', true);

        if (selectedValue === "250g") {
            $('#quantity_250g').show("fast");
            $('#quantity_1kg').hide();
            if ($('#quantity_250g .qty_input').val() > 0) {
            button.prop('disabled', false);
            }
        } else if (selectedValue === "1kg") {
            $('#quantity_1kg').show("fast");
            $('#quantity_250g').hide();
            if ($('#quantity_1kg .qty_input').val() > 0) {
            button.prop('disabled', false);
            }
        } else {
            $('#quantity_250g').hide();
            $('#quantity_1kg').hide();
        }
    }

    $(document).ready(function() {
        // Initially hide the forms
        $('#quantity_250g').hide();
        $('#quantity_1kg').hide();

        // Enable "Add to Bag" button when quantity is chosen
        $(".qty_input").change(function() {
            if ($(this).val() > 0) {
                $("input[type='submit']").prop('disabled', false);
            } else {
                $("input[type='submit']").prop('disabled', true);
            }
        });

        // Increase/decrease quantity functionality
        $(".increment-qty, .decrement-qty").click(function(e) {
            e.preventDefault(); // Prevent form submission on button click
            var inputField = $(this).closest(".form-group").find(".qty_input");
            var currentValue = parseInt(inputField.val(), 10);
            if ($(this).hasClass("increment-qty")) {
                if(currentValue < 99) { // Assuming 99 is the max value
                    inputField.val(currentValue + 1);
                }
            } else {
                if (currentValue > 1) {
                    inputField.val(currentValue - 1);
                }
            }
            inputField.change(); // Trigger the change event to update the button state
        });

        // Call to show/hide based on the initial state or persisted state
        toggleFormVisibility();
    });
</script>