<script>
    $(document).ready(function() {
        // Hide the form initially
        $('#quantity_250g').hide();
        $('#quantity_1kg').hide();

        // Function to show/hide form based on selection
        function toggleFormVisibility() {
            var selectedValue = $("input[name='product_weight']:checked").val();
            var button = $("input[type='submit']");
            
            // Disable "Add to Bag" button until quantity is chosen
            button.prop('disabled', true);

            if (selectedValue === "250g") {
                $('#quantity_250g').show("fast");
                $('#quantity_1kg').hide();
                button.prop('disabled', false);
            } else if (selectedValue === "1kg") {
                $('#quantity_1kg').show("fast");
                $('#quantity_250g').hide();
                button.prop('disabled', false);
            } else {
                $('#quantity_250g').hide();
                $('#quantity_1kg').hide();
            }
        }

        // Enable "Add to Bag" button when quantity is chosen
        $(".qty_input").change(function() {
            if ($(this).val() > 0) {
                $("input[type='submit']").prop('disabled', false);
            } else {
                $("input[type='submit']").prop('disabled', true);
            }
        });

        // Increase/decrease quantity
        $(".increment-qty, .decrement-qty").click(function() {
            var inputField = $(this).closest(".form-group").find(".qty_input");
            var currentValue = parseInt(inputField.val());
            if ($(this).hasClass("increment-qty")) {
                inputField.val(currentValue + 1);
            } else {
                if (currentValue > 1) {
                    inputField.val(currentValue - 1);
                }
            }
        });

        // Initial check for form visibility
        toggleFormVisibility();
    });
</script>
