{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Recipes</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <!--Selector to filter the products-->
        <div class="product-container col-10 offset-1">
            <div class="row mt-5">
                <!--Products List-->
                <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            {% if recipe.image_url %}
                            <img class="img-fluid" src="{{ recipe.image_url }}" alt="{{ recipe.brewing_type }}">
                            <!-- Else show the fallback image -->
                            {% else %}
                            <img class="img-fluid" src="{{ MEDIA_URL }}{{ recipe.image }}" alt="{{ recipe.brewing_type }}">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>{{ recipe.brewing_type }}</h2>
                            <p>Serves {{ recipe.cups }} cup{% if recipe.cups != 1%}s{% else %}{% endif %}</p>
                            <div class="table-responsive mt-5">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Coffee Quantity</th>
                                            <th>Water Quantity</th>
                                            <th>Grinding size</th>
                                            <th>Optional Items</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ recipe.coffee_quantity }}g</td>
                                            <td>{{ recipe.water_quantity }}ml</td>
                                            <td>{{ recipe.grinding_size }}</td>
                                            <td>Scale and timer</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p class="mt-3 mb-3">
                                {% for item in description_list %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                            </p>
                            {% if request.user.is_superuser %}
                            <!--Buttons to edit and delete producers-->
                            <small class="ml-3">
                                <a href="{% url 'edit_recipe' recipe.id %}">Edit</a> |
                                <a class="text-danger" href="{% url 'delete_recipe' recipe.id %}">Delete</a>
                            </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}