html {
    height: 100%;
}

body {
    background-color: #F2F4F3;
    color: #0A0908;
    font-family: 'Mulish', sans-serif;
    background: url('/media/banner.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

/* MAIN PAGE ------------------------ */

#site-categories {
    width: 100%;
    background-color: #0A0908;
}

#site-categories .col-12 a {
    text-decoration: none;
    color: #F2F4F3;
    font-weight: 700;
    font-size: 1.2rem;
}

.main-banner {
    background: url('/media/banner.png') no-repeat center fixed;
    background-size: contain;
    height: calc(100vh - 164px);
}

.index-text {
    color: #F2F4F3;
    font-weight: 800;
}

.overlay {
    padding-top: 6rem;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* NAVBAR -------------------------- */

nav {
    background-color: #F2F4F3;
}

#navbarSupportedContent ul li a {
    font-weight: 500;
}

#navbarSupportedContent ul li a:hover {
    color: #A9927D;
}

.shopping-bag {
    color: #A9927D;
}

.shopping-bag:hover i,
.shopping-bag:hover span {
    color: #A9927D;
}

#navbarSupportedContent ul li a:active {
    background-color: transparent;
}

.management {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


/* NAVBAR SEARCH BAR ------------------*/

.search {
    position: relative;
    display: flex;
}
  
.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #A9927D;
    background: #A9927D;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 20px;
}

.form-control {
    border-radius: 5px 0 0 5px; 
    border: none;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border: #A9927D;
}


/* ALLAUTH TEMPLATES ----------------- */

.allauth-form{
    margin: 10% 30% auto 30%;
}

.allauth-body input:not([type="checkbox"]){
    border: 1px solid #0A0908;
    width:80%;
    background-color: #F2F4F3;

}

.allauth-body a {
    color: #0A0908;
    text-decoration: underline;
}

.allauth-button{
    margin-right: 20%;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 0.625rem;
    font-family: Arial;
    color: #0A0908;
    font-size: 1rem;
    background: #A9927D;
    padding: 0.625rem;
    border: none;
    text-decoration: none;
    width: 6rem;
}

.allauth-button:hover {
    background: #0A0908;
    text-decoration: none;
    color: #F2F4F3;
}

.form-signup label {
    width: 100%;
}

.form-signup input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #F2F4F3;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.signup-button {
    margin-top: 2rem;
    margin-right: 0;
}

/* PRODUCTS ------------------------- */

.text-product {
    color: #5E503F;
}

.product-table tbody tr {
    border: 2px solid #5E503F;
}

.weight-option input {
    display: none;
}

.weight-option {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    background-color: #5E503F;
    color: #F2F4F3;
    border: 1px solid #5E503F;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 45%;
}

.weight-option:hover {
    background-color: #A9927D;
}

.image-container {
    position: relative;
}

.microlot {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    margin-top: 0.3rem;
    margin-left: 0.3rem;
    background-color: #A9927D;
    color: #F2F4F3;
    font-weight: 500;
    z-index: 1;
    padding: 0.5rem;
}

/* FOOTER -------------------------- */

.page-footer{
    background-color: #0A0908;
    margin-top: 5rem;
    color: #F2F4F3;
}

.list-unstyled li a,
.social-media ul li a {
    text-decoration: none;
    color: #F2F4F3;
}

#mc_embed_signup {
    background: #F2F4F3;
    clear: left;
    font: 14px 'Mulish', sans-serif;
    width: 400px;
    color: #0A0908;
}
/* 404 ---------------------------- */

.message-404{
    height: 60%;
}

.head-404 {
    font-weight: 800;
}

.pnf {
    font-weight: 600;
}

/* ICONS -------------------------- */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* BAG AND CHECKOUT -------------- */

.logo-font {
    text-transform: uppercase;
}

.img-bag {
    width: 10rem;
}

.n_align {
    text-align: right;
}

/* BUTTONS ----------------------- */

.shop-now-button{
    background: #5E503F;
    color: #0A0908;
    min-width: 260px;
}

.btn-brown,
#mc-embedded-subscribe {
    background:#5E503F;
    color: #F2F4F3;
}

.btn-outline-black {
    background: #F2F4F3;
    color: #0A0908 !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid #0A0908;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus{
    background: #A9927D;
    color: #0A0908 !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-brown:hover,
.btn-brown:active,
.btn-brown:focus{
    background: #A9927D;
    color: #0A0908;
}

.text-black {
    color: #0A0908 !important;
}

.border-black {
    border: 1px solid #0A0908 !important;
}

.bg-black {
    background: #0A0908 !important;
}

a.category-badge>span.badge:hover {
    background: #A9927D !important;
    color: #0A0908 !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* BOOTSTRAP TOATS --------------- */

.message-container {
    position: fixed;
    top: 170px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* MEDIA QUERIES ----------------- */
@media (max-width: 991px) {

    /* BASE ----------------- */
    #site-categories {
        display: none;
    }

    /* ORDER ----------------- */
    .order-history {
        max-height: 416px; /*HEIGHT OF PROFILE FORM + SUBMIT BUTTON */
        overflow-y: auto;
    }
    /* ALLAUTH --------------- */
    .allauth-form {
        margin: 10% 10% auto 10%;
    }

    .allauth-body input:not([type="checkbox"]){
        width: 100%;

    }
    .allauth-button{
    margin-right: 0;
    }
}