<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Cosy Coffee</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto align-items-center">
      {% if request.user.is_authenticated %} {% if request.user.is_superuser %}
      <li class="nav-item">
        <a href="{% url 'add_product' %}" class="dropdown-item text-uppercase"
          >Product Management</a
        >
      </li>
      <li class="nav-item">
        <a href="{% url 'add_producer' %}" class="dropdown-item text-uppercase">Producers Management</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a href="{% url 'profile' %}" class="dropdown-item text-uppercase">My Profile</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'account_logout' %}" class="dropdown-item text-uppercase">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a href="{% url 'account_signup' %}" class="dropdown-item text-uppercase">Register</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'account_login' %}" class="dropdown-item text-uppercase">Login</a>
      </li>
      {% endif %}
      <li class="nav-item d-lg-none">
        <a href="{% url 'products' %}" class="dropdown-item text-uppercase">All Products</a>
      </li>
    <li class="nav-item d-lg-none">
        <a href="{% url 'products' %}?category=coffee_beans" class="dropdown-item text-uppercase">Coffee Beans</a>
    </li>
    <li class="nav-item d-lg-none">
        <a href="{% url 'products' %}?category=accessories" class="dropdown-item text-uppercase">Accessories</a>
    </li>
    <li class="nav-item d-lg-none">
        <a href="{% url 'producers' %}" class="dropdown-item text-uppercase">Meet our producers</a>
    </li>
      <li class="list-inline-item">
        <a
          class="{% if grand_total %}font-weight-bold{% else %}text-black{% endif %} nav-link shopping-bag"
          href="{% url 'view_bag' %}"
        >
          <div class="text-center">
            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
            <p class="my-0">
              {% if grand_total %} ${{ grand_total|floatformat:2 }} {% else %}
              $0.00 {% endif %}
            </p>
          </div>
        </a>
      </li>
    </ul>
    <form
      class="form-inline my-2 my-lg-0"
      method="GET"
      action="{% url 'products' %}"
    >
      <input
        class="form-control mr-sm-2"
        placeholder="Search"
        aria-label="Search"
        name="s"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>
