{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container message-404 ml-5 mt-5">
    <div class="col-12">
        <h1 class="head-404">404</h1>
        <p class="pnf">Page not found!</p>
        <p class="message-404">Oh no! It seems like the coffee is not ready yet. Let's put the kettle on and you can come back later.</p>
    </div>
</div>
{% endblock %}